$red-color: #d0011b;
$red-color-2: #ff424f;
$white-color: #fff;
$pink-color: rgb(255, 242, 238);
$gray-color: rgb(248, 248, 248);
$gray-color-1: #f5f5f5;
$gray-color-2: #555;
$orange-color: rgb(238, 77, 45);
$turquoise-color: rgb(0, 191, 165);
$yellow-color: rgb(255, 233, 122);
$yellow-color-1: rgb(255, 206, 61);
$gold-color: rgb(246, 145, 19);

$white-color-opacity: rgba(255, 255, 255, 0.3);
$white-color-opacity-1: rgba(0, 0, 0, 0.26);
$white-color-opacity-2: rgba(0, 0, 0, 0.14);
$white-color-opacity-3: rgb(250, 250, 250);
$white-color-opacity-4: rgb(251, 251, 251);
$white-color-opacity-5: rgba(255, 255, 255, 0.6);

$black-color-opacity: rgba(0, 0, 0, 0.8);
$black-color-opacity-1: rgba(0, 0, 0, 0.54);
$black-color-opacity-2: rgba(0, 0, 0, 0.87);
$black-color-opacity-3: rgba(0, 0, 0, 0.6);
$black-color-opacity-4: rgba(0, 0, 0, 0.07);
$black-color-opacity-5: rgba(0, 0, 0, 0.09);
$black-color-opacity-6: rgba(0, 0, 0, 0.65);

$gray-color-opacity: rgba(0, 0, 0, 0.08);
$gray-color-opacity-1: rgba(0, 0, 0, 0.26);
$gray-color-opacity-2: rgb(237, 237, 237);
$gray-color-opacity-3: rgba(0, 0, 0, 0.4);
$gray-color-opacity-4: rgb(251, 251, 251);
$gray-color-opacity-5: rgb(232, 232, 232);

$pink-color-opacity: rgb(255, 244, 244);
$pink-color-opacity-1: #f8d0d3;
